.divRegisterInfo, .divErrorLog {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	color: white;
	animation: animRegisterInfo 5s;
	opacity: 0;
	visibility: hidden;
	z-index: 10000000;
}

.divErrorLog {
	background-color: rgba(130,0,0,0.4);
}

.divErrorLog div{
	background-color: rgba(0,0,0,0.4);
}

.divRegisterInfo div, .divErrorLog div{
	border: white solid 2px;
	padding: 10px;
}
.divRegisterInfo div p, .divErrorLog div p{
	padding: 0;
	margin: 0;
 }
 @keyframes animRegisterInfo{
 	0% {opacity: 0; visibility: visible;}
 	25% {opacity: 1;}
 	75% {opacity: 1;}
 	99% {visibility: visible;}
 	100% {opacity: 0; visibility: hidden;}
 }

.divErrorLog p {
	width:100%;
}

