/*ENCADREMENT FORMUALAIRE INSCRIPTION*/
#premierForm { 
	margin-left: 15%;
	margin-right: 15%;
	padding: 10px 30px;
	box-shadow: 1px 1px 5px;
	background-color: #e2d5d5;
	border-radius: 5px;
}
/*TITRE */
#titreCo {
	margin-left: 15%;
	margin-right: 15%;
	color: black;
	text-align: center;
}
#titreIn {
	margin-left: 15%;
	margin-right: 15%;
	color: black;
	text-align: center;
}
/*CLASSE FORMULAIRE*/
.form-control {
	width: 93%;
	display: inline-block;
	border-color: #9e9e9e;
}
/*FOMULAIRE  DOUBLE INPUT COTE A COTE*/
.doubleIp {
	width: 46.5%;
	display: inline-block;
}
/*ENCADREMENT FORMULAIRE CONNEXION*/
#deuxiemeForm {
	margin-right: 10%;
	margin-left: 10%;
	padding: 10px 30px !important;
	box-shadow: 1px 1px 5px;
	background-color: #e2d5d5;
	border-radius: 5px;
}
/*TOUT LES INPUT DE PAGE D'INSCRIPTION*/
.formInscriptionCo {
	float: right;
}
/*SELECT FORMULAIRE 1*/
#questionType {
	float: right;
}
/*HR FORMULAIRE INSCRIPTION*/
#hrF1 {
	margin-top: 5%;
}
/*HR FORMULAIRE CONNEXION*/
#hrF2 {
	margin-top: 11%;
}
/*ICONS DE LA PAGE */
.fa {
	margin-top: 2%;
}
/*FORMULAIRE CONNEXION DANS COL 4*/
.cln4 {
	position: absolute;
	top: 0%;
	right: 0%;	
}
/*ICONS LOCALISATION ALIGNEMENT AVEC INPUT ADRESSE*/
.fa-map-marker {
	margin-top: 0.5%;
	color: #3633EA;
	width: 100%;	
}
/*P ACCHICHANT LE MESSAGE DE L'ADRESSE */
#addressMessage {
	font-size: 0.5em;
	width: 100%;
	padding-left: 7%;
}
