@media only screen and (max-width: 580px) {

	#description {
		width: 100%;
		font-size: 0.85em;
	}
	.productImageBox {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.margtop {
		padding-top: 4%;
	}
	.imageProduit {
		margin-top: 0px !important;
	}
	.block {
		width: 100%;	
		padding-top: 1%;
		padding-bottom: 1%;
	}
	.lineProduct {
		width: 100%;
	}
	.footer {
		padding-top: 5% !important;
		padding-bottom: 5% !important;
	}
}




	/*Responsive Page Produits Tablette */
@media only screen and (max-width: 768px) {

	#description {
		width: 100%;
		font-size: 0.85em;
	}
	.productImageBox {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.margtop {
		padding-top: 4%;
	}
	.imageProduit {
		margin-top: 0px !important;
	}
	.footer {
		padding-top: 5% !important;
		padding-bottom: 5% !important;
	}
}

	/*Responsive Page Produits Mobile */
@media only screen and (max-width: 550px) {

	.productDescription {
		margin-bottom: 4%;
		width: 100%;
	}
	#description {
		width: 100%;
		font-size: 0.75em;
	}
	.productImageBox {
		margin-top: 4%;
		margin-bottom: 4%;
		height: 70%;
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.margtop {
		padding-top: 4%;
	}
	.productDescription {
		width: 100% !important;
	}
	.imageProduit {
		margin-top: 0px !important;
	}
	.block {
		padding-top: 1%;
		padding-bottom: 1%;
	}
	.footer {
		padding-top: 10% !important;
		padding-bottom: 4% !important;
	}
}
/* Style page produit => Petite faim */

#parallax {
	background-image: url('/img/paraBackground.jpg');
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
}
/* Style page produit => Boissons */

#boissonsParallax {
	background-image: url('/img/paraBoissonsBackground.jpg');
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
}

/* Style page produit => Sandwich */

#sandwichParallax {
	background-image: url('/img/paraSandwichBackground.jpg');
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
}

/* Style page produit => Nos menus */

#menuParallax {
	background-image: url('/img/paraMenuBackground.jpg');
	height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
}

.maskProductBox {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;

}

.lineProduct > div{
	background-color: rgba(0,0,0,0.4);
	background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}
.lineProduct{
	border: 1px solid white;
}
.productImageBox{
	background-color: white;
}

.productDescriptionBox{
	width: 100%;
	height: 100%;
	color:white;
}

.productDescription{
	width: 65%;
	height: 50%;
	border: 1px solid white;
	padding: 25px;
}


.addProductFromPageImpair{
	font-size: 25px;
	width: 35px;
	height: 35px;
	border:1px solid black;
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: black;
	transition: background-color 0.250s, color 0.250s;
}
.addProductFromPagePair{
	font-size: 25px;
	width: 35px;
	height: 35px;
	border:1px solid black;
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: black;
	transition: background-color 0.250s, color 0.250s;
}

.addProductFromPagePair:hover,.addProductFromPageImpair:hover{
	border:1px solid black;
	color: white;
	background-color: black;
	cursor: pointer;
}
