#mainContentBackOffice {
	width: 95%;
	height: auto;
	margin-top: 3%;
	background-color: #E9ECEF;
	border-radius: 5px;
	padding: 3%;
}
label{
	padding-bottom: 3%;
}
#product-tab,#addUser-tab,#contact-tab{
	color: black
}

#product-tab{
	background-color: #fff;
}

.rowBackOffice {
	margin:0;
}

#menu {
	width:100%;
	background-color: #222222;
}
#onglets {
    list-style-type : none;
    border-bottom : 1px solid white;
    margin-left : 0;
}

#onglets li {
    float : left;
    background-color: #F4F9FD;
    border : 1px solid #9EA0A1;
}

#onglets li.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a {
    display : block;
    color : #666;
    text-decoration : none;
    padding : 7px;
}

#formBackOfficeProduct {
	margin-top:2%;
	font-size: 1.3em;
}

#btnAddProduct {
	width: 15%;
	margin:auto;
}

.colBackOffice {
	text-align: center;
}

.colBackOffice label {
	width: 90%;
}

.contentFile {
	width: 30%;
	margin:auto;
	margin-bottom:20px;
}
/*ENCADREMENT FORMUALAIRE INSCRIPTION*/
#premierForm { 
	margin-left: 15%;
	margin-right: 15%;
	padding: 10px 30px;
	background-color: #E9ECEF;
	border-radius: 2px;
}