/*TITRE */
#titreCompte {
	margin-top: 2%;
	margin-bottom: 2%;
}
/*TABLEAU*/
.table {
	text-align: center;
}
.tableauClient {
	margin: 3%;
	width: 25%;
}
tr td {
	padding: 5%;
}
#modifInfo{
	margin-left: 3%
}