/*COL 4 LE FORMULAIRE*/
.formcontact {
 margin-left: 3%; 
 margin-right: 3%; 
}
/*ENCADREMENT DU FORMULAIRE*/
#cadre {
	color: #979899;		
	border: solid;
	border-radius: 5px;
	padding: auto;
	margin-left: 0;
}
/*TITRE DU FORMULAIRE*/
#titreContact {
	color: black;
	font-size: 1.5em;
}
/*DIV CONTENANT TITRE ET LE FORMULAIRE*/
#formulaireTitre {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%; 
}