.binSVG {
	fill:#FF4747;
}

.binCase svg{
	cursor:pointer;
	width: 40px;
}

#tableCart th{
	width: 25%;
}

#divChoiceOrder {
	width: 100%;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.89);
	color: white;
	z-index: 10000000;
}

.choiceBoxes, .choiceBoxes2{
	border: 1px solid white;
	width: 20%;
	height: 10%;
	text-align: center;
}


.choiceBoxes, .choiceBoxes2{
	border: 1px solid white;
	width: 55%;
	height: 100px;
	text-align: center;
	margin-top: 10px; 
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0)
}

.qtyInputCart{
	width: 15%;
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.btnQtyCart{
	color: #DC3545;
	transition: all ease 0.250s
}
.btnQtyCart:hover{
	color: #DC3545;
	transform: scale(1.2);
	cursor: pointer;
}

#orderButton{
	display: block
	width: 10%;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
/*	position: absolute;
	right: 0;*/
}

.hrDivOrderChoice{
	border-color: white !important;
	margin-left: 20%;
	margin-right: 20%;
}