#mainContentBackOffice {
	width: 80%;
	height: auto;
	margin:10%;
	background-color: #aaa;
	border: solid 1px;
	border-radius: 10px;
	border-color: #000000;
	padding: 2%;
	box-shadow: 0px 0px 10px #666;
}

.rowBackOffice {
	margin:0;
}

#menu {
	width:100%;
	background-color: #222222;
}
#onglets {
    list-style-type : none;
    border-bottom : 1px solid white;
    margin-left : 0;
}

#onglets li {
    float : left;
    background-color: #F4F9FD;
    border : 1px solid #9EA0A1;
}

#onglets li.active {
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a {
    display : block;
    color : #666;
    text-decoration : none;
    padding : 7px;
}

#formBackOfficeProduct {
	margin-top:2%;
	font-size: 1.3em;
}

#btnAddProduct {
	width: 15%;
	margin:auto;
}

.colBackOffice {
	text-align: center;
}

.colBackOffice label {
	width: 90%;
}

.contentFile {
	width: 30%;
	margin:auto;
	margin-bottom:20px;
}