/*ENCADREMENT FORMULAIRE INSCRIPTION*/
#premierForm { 
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px 30px;
	border-radius: 5px;
}
#deuxiemeForm{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 7%
}

#formulaireConnection{
	padding: 10px;
	border-radius: 5px;
}
#btnLoc{
	position: absolute;
	left: 6.5% !important;
	cursor: pointer; 
	font-size: 2.1em !important;
	margin-top: 0% !important;
	color: #38c0ff;
}
#btnLoc:hover{
	color:red;

}
#premierForm .fa{
	position: absolute;
	left: 6%;
	font-size: 1.6em;
	margin-top: 1%
}

#premierForm .iconSex{
	position: absolute;
	left: 5%;
	font-size: 1.6em;
	margin-top: 1%
}

#premierForm .iconSex2{
	position: absolute;
	left: 8%;
	font-size: 1.6em;
	margin-top: 1%
}

#btnLoc {
  transition: 0.50s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  display: block;

}

#btnLoc:hover {
  transition: 0.50s;
  -webkit-transition: 0.50s;
  -moz-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
} 
