* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body { 
  font-family: 'Roboto', sans-serif;
}


/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-nav .carousel-cell {
  height: 140px;
  width: 140px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #37bace;
}
.btnBMenus{
position: absolute;
bottom: 0;
align-self: center;
margin-bottom: 5px !important;
z-index: 1;
}
 
/*Carousel*/ 
.carousel { 
  margin-bottom: 40px; 
} 

.carousel-cell { 
  width: 100%; 
  margin-right: 10px; 
  border-radius: 5px; 
  counter-increment: carousel-cell; 
} 
 
/*Carousel*/
.carousel {
  margin-bottom: 40px;
}

.carousel-cell {
  width: 50%;
  height: 300px;
  margin-right: 10px;
  background:  ;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-nav .carousel-cell {
  height: 140px;
  width: 140px;
}
.carousel-cell {
  height: 350px;
}
.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #37bace;
}
@media screen and ( max-width: 768px ) {
  .carousel-cell { width: 80%; }
  .imgCard { margin-top: 30% !important; align-self: center}

}
@media screen and ( max-width: 320px ) {
  .carousel-cell { width: 50%; }
  .carousel-cell { height: 200px }
  .imgCard { margin-top: 30%; align-self: center}
}
 .imgCard{
margin-top: 8%;
align-self: center;

 }
 #secondCar > div > button.flickity-prev-next-button.next{
  right: -55px;
 }
 #secondCar > div > button.flickity-prev-next-button.previous{
  left: -55px;
 }

#secondCar > div > button.flickity-prev-next-button.next, #secondCar > div > button.flickity-prev-next-button.previous{
  background-color: #dc3545 !important;
  transition: all 0.200s;
 }
#secondCar > div > button.flickity-prev-next-button.next:hover, #secondCar > div > button.flickity-prev-next-button.previous:hover{
  background-color: #C82333 !important;
}
#secondCar > div > button.flickity-prev-next-button.next > svg > path, #secondCar > div > button.flickity-prev-next-button.previous > svg > path{
  fill: white !important;
}

.productNameCarousel{
  position: absolute;
  top:20px;
  left: 20px;
  border-bottom: 1px solid grey;
}
.productPriceCarousel{
  position: absolute;
  top: 200px;
  right: 30px
}
.productInfo{
  position: absolute;
  top: 250px;
  right: 30px
}

/*Style Font*/

h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 17rem;
  }

.showcase .showcase-text {
  padding: 3rem; }

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover; }

@media screen and (max-width: 1450px ) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

@media screen and (max-width: 980px ) {
  header.masthead {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem; } }

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  
.features-icons .features-icons-item {
    max-width: 20rem; }
    
.features-icons .features-icons-item .features-icons-icon {
      height: 7rem; }
      
.features-icons .features-icons-item .features-icons-icon i {
        font-size: 4.5rem; }
    
.features-icons .features-icons-item:hover .features-icons-icon i {
      font-size: 5rem; }

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem; }
.testimonials .testimonial-item {
    max-width: 18rem; }
.testimonials .testimonial-item img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px #adb5bd; }
