{% extends "layout.html.twig" %}
{% block backOffice %}
	
{# HEADER #}

	<div class="jumbotron pb-0 bg-light">
		<div id="contentJumbotronCart" class="container">
			<h1 class="display-4"> <i class="fa fa-key" aria-hidden="true"></i>  Admin</h1><hr>
		</div>
	</div>
	
{# Contenue du formulaire #}

	<div class="container" id="mainContentBackOffice">
		<div class="row rowBackOffice form-control">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true"><h5>Produit</h5></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="addUser-tab" data-toggle="tab" href="#addUser" role="tab" aria-controls="addUser" aria-selected="false"><h5>Utilisateur</h5></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><h5>Historique des commandes</h5></a>
				</li>
			</ul>
			<div class="tab-content container-fluid" id="myTabContent">
				<div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">
					<form action="/admin" method="post" enctype="multipart/form-data" id="formBackOfficeProduct">
						<div class="row">
							<div class="col-6 colBackOffice">
								<label for="productName"> Nom du produit : <br>
									<input type="text" class="form-control" name="productName" id="productName">
								</label> <br>
								<label for="productPrice"> Prix du produit : <br>
									<input type="text" class="form-control" name="productPrice" id="productPrice">
								</label> <br>
								<label for="productCal"> Nombre de calorie : <br>
									<input type="text" class="form-control" name="productCal" id="productCal">
								</label> <br>
								<label for="productIngredient"> Ingrédients :
									<input type="text" class="form-control" name="productIngredient" id="productIngredient">
								</label>
							</div>
							<div class="col-6 colBackOffice">
								<div class="form-group">
									<label for="productCategory"> Catégorie :
										<select multiple class="form-control" name="productCategory" id="productCategory">
											<option value="drink">Boisson</option>
											<option value="suppl">Accompagnement</option>
											<option value="sandwich">Sandwich</option>
											<option value="child">Menu enfant</option>
											<option value="menu">Menu</option>
										</select>
									</label><br>
								</div>
								<div class="form-group">
									<label for="productDescription"> Description du produit : <br>
										<textarea class="form-control" name="productDescription" id="productDescription" rows="3"></textarea>
									</label>
								</div>
							</div>
						</div>
						<div class="contentFile pt-3">
							<label for="productIngredient"> Insertion de l'image dans la fiche produit :
								<input type="file" class="form-control-file" name="productPath" id="productPath">
							</label> <br>
						</div>
						<input type="submit" class="btn btn-info btn-block btn-lg btn-outline-info mb-4" name="btnAddProduct" id="btnAddProduct">
					</form>
				</div>
				{# PAGES UTILISATEUR #}
				<div class="tab-pane fade" id="addUser" role="tabpanel" aria-labelledby="addUser-tab">
					<form method="post" onsubmit="return validateForm();" >
						<div class="form-group">
							
							<h3 class="text-center">Ajout d'un utilisateur</h3>
							<blockquote id="premierForm">
								<hr>
								
								<input class="form-control doubleIp formInscriptionCo mb-4 p-2 " type="text" name="firstname" id="prenom" required="required" placeholder="Prénom">
								<input class="form-control doubleIp formInscriptionCo  mb-4 p-2 " type="text" name="lastname" id="nom" required="required" placeholder="Nom">
								
								
								<select name="inputGender" id="questionType" class="form-control  mb-4 p-2 " required="required">
									<option value="male">Homme</option>
									<option value="female">Femme</option>
								</select>
								
								
								<input class="form-control formInscriptionCo  mb-4 p-2 " type="tel" name="tel" id="tel" required="required" placeholder="Numéro de Téléphone">
								
								
								<input class="form-control formInscriptionCo  mb-4 p-2 " type="date" name="birthday" required="required" placeholder="Date de Naissance">
								
								<a id="btnLoc">
									<input class="form-control formInscriptionCo  mb-4 p-2 " type="text" name="address" id="inputAddress" required="required" placeholder="Adresse">
									<p id="addressMessage" style="display: none;"></p></a>
									
									
									<input class="form-control formInscriptionCo  mb-4 p-2 " type="email" name="email" required="required" placeholder="E-mail">
									
									
									<input class="form-control doubleIp formInscriptionCo  mb-4 p-2 " type="password" name="password" id="mdp" required="required" placeholder="Mot de passe">
									<input class="form-control doubleIp formInscriptionCo  mb-4 p-2 " type="password" name="passwordConf" id="cmdp" required="required" placeholder="Confirmation">
									
									
									<select name="inputRight" id="addRight" class="form-control  mb-4 p-2 " required="required">
										<option value="User">Utilisateur</option>
										<option value="DeliveryMan">Livreur</option>
										<option value="Admin">Admin</option>
									</select>
									
									
									<input class="form-control formInscriptionCo btn-outline-info mb-4 p-2 " type="submit" value="Envoyer" id="messValid" name="test">
									<hr id="hrF1">
								</blockquote>
								<input type="hidden" name="inscripValid">
								<input type="hidden" name="inputLat" id="inputLat">
								<input type="hidden" name="inputLng" id="inputLng">
								<input type="hidden" name="inputDist" id="inputDist">
							</div>
						</form>
					</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						{# {% if ordersAdmin != NULL %} #}
							<table class="table table-hover table-light mb-0">
								<thead class="bg-light">
									<tr>
										<th>Date</th>
										<th>Prix Hors Taxe</th>
										<th>Prix TTC</th>
										<th>Numéro de commande</th>
										<th>Sur place</th>
										<th>À emporter</th>
									</tr>
								</thead>
								<tbody id="addHisto">
								</tbody>
							</table>
						{# {% endif %} #}
					</div>
				</div>
			</div>
			<hr>
		</div>
	{% endblock %}