{% extends "layout.html.twig" %}
{% block boissons %}
	{% if drinks != null %}
		{% for drink in drinks %}
			<img src="{{drink.imagePath}}">
			<h3>{{drink.name}}</h3>
			<p>{{drink.description}}</p>
		{% endfor %}
	{% endif %}
{% endblock %}
