{% extends "layout.html.twig" %}
{% block Carrousel %}
<div class="carousel carousel-nav mt-5">
        <div class="carousel-cell card" id="card1">
          <img src="../web/img/boisson/coca.png" alt="" class="w-100">
          <p class="text-center">Nos Boissons</p>
        </div>
        <div class="carousel-cell card" id="card2">
          <img src="../web/img/menu/bigking.png" alt="" class="w-100 align-self-center">
          <p class="text-center">Nos Menus</p>
        </div>
        <div class="carousel-cell card" id="card3">
          <img src="../web/img/Accompagnement/chilicheese.png" alt="" class="w-100 align-self-center">
          <p class="text-center">Petite Faim</p>
        </div>
        <div class="carousel-cell card" id="card4">
          <img src="../web/img/menu enfant/kingjunior.png" alt="" class="w-100 align-self-center">
          <p class="text-center">Menu Enfants</p>
        </div>
        <div class="carousel-cell card" id="card5">
          <img src="../web/img/sandwich/hamburgerenfant.png" alt="" class="w-100 align-self-center">
          <p class="text-center">Sandwich</p>
        </div>
      </div>
    </div><hr>

          <!-- Second Carrousel -->
    <div class="container"  id="secondCar">
    </div>
{% endblock %}
