{% extends "layout.html.twig" %}
{% block contact %}
<body>
	<br><br>
	{# FORMULAIRE #}
	<div class="container-fluid">
	<div class="row">
	<div class="col-6 formcontact">
		<form>
			{# ENCADREMENT #}
			<fieldset id="cadre">
				{# TITRE #}
				<legend>Nos Coordonnées</legend>
					{# FORMULAIRE #}
					<input class="form-control" type="text" name="firstnameContact" placeholder="Prénom"><br /><br />
					<input class="form-control" type="text" name="lastnameContact" placeholder="Nom">
					<br><br />
					<input class="form-control" type="email" name="mailContact" placeholder="Email">
					<br><br />
					<input class="form-control" type="textarea" name="messageContact" placeholder="Ecrit ton message"><br /><br />
					<input class="form-control" type="submit" name="btnContact" placeholder="Envoyer">
				</fieldset>
		</form>
	</div>
	<br><br>
	{# MAP GOOGLE #}

	<div class="col-6 formcontact">

	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.3083304859547!2d0.08719151509964126!3d48.43142183862896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e20c8380f2fe81%3A0xa71d1f6718b5aa10!2s8+Cours+Cl%C3%A9menceau%2C+61000+Alen%C3%A7on!5e0!3m2!1sfr!2sfr!4v1516097975762" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>
{% endblock %}
