{% extends 'inscription.html.twig' %}

{% block errorLogin %}
		<div class="divErrorLog d-flex align-items-center justify-content-center">
			<div>
	   			<p>Connexion échoué, Vos identifiants sont invalide, <br>
	   			veuillez réessayer ou inscrivez-vous si vous ne l'êtes pas. </p>
			</div>
		</div>
{% endblock %}