<hr><footer class="footer bg-light m-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">A Propos de Nous</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Nous Contactez</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terme d'utilisation</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Politique</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; SendWish 2018. Tous Droits Reservés.</p>
      </div>
      <div class="col-lg-4 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3 reseau">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw " alt="Facebook"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3 reseau">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw" alt="Twitter"></i>
            </a>
          </li>
          <li class="list-inline-item reseau">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw" alt="Instagram"></i>
            </a>
          </li>
          <li class="list-inline-item reseau">
            <a href="#">
              <i class="fa fa-snapchat-ghost fa-2x fa-fw" alt="Snapchat"></i>
            </a>
          </li>
          <li class="list-inline-item reseau">
            <a href="#">
              <i class="fa fa-google-plus fa-2x fa-fw" alt="Google+"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
