{% extends "layout.html.twig" %}

{% block content %}
    Welcome to your new Silex Application!
    {% if isRegister is defined %}
		<div class="divRegisterInfo">
			<p>Félicitations, vous êtes bien enregistré !</p>
		</div>
	{%  endif %}
{% endblock %}

