{% extends "layout.html.twig" %}
{% block inscrip %}
	<form method="post">
		Prénom :
		<input type="text" name="firstname">
		Nom :
		<input type="text" name="lastname">
		<br>
		<br>
		Numéro de Téléphone :
		<input type="tel" name="tel">
		<br>
		<br>
		Date de Naissance :
		<input type="date" name="birthday">
		<br>
		<br>
		Adresse :
		<input type="text" name="address">
		<br>
		<br>
		E-mail :
		<input type="email" name="email">
		<br>
		<br>
		Mot de passe :
		<input type="password" name="password">
		Confirmation :
		<input type="password" name="passwordConf">
		<br>
		<br>
		<input type="submit" value="Inscription!">
		<input type="hidden" name="inscripValid">
	</form>
	{% endblock %}