{% extends "layout.html.twig" %}
{% block inscrip %}
	<form method="post">
		Prénom :
		<input type="text" name="firstname">
		Nom :
		<input type="text" name="lastname">
		<br>
		<br>
		Numéro de Téléphone :
		<input type="tel" name="tel">
		<br>
		<br>
		Date de Naissance :
		<input type="date" name="birthday">
		<br>
		<br>
		<a id="btnLoc"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
		Adresse :
		<input type="text" name="address" id="inputAddress">
		<p id="addressMessage" style="display: none;"></p>
		<br>
		<br>
		E-mail :
		<input type="email" name="email">
		<br>
		<br>
		Mot de passe :
		<input type="password" name="password">
		Confirmation :
		<input type="password" name="passwordConf">
		<br>
		<br>
		<input type="submit" value="Inscription!">
		<input type="hidden" name="inscripValid">
		<input type="hidden" name="inputLat" id="inputLat">
		<input type="hidden" name="inputLng" id="inputLng">
		<input type="hidden" name="inputDist" id="inputDist">
	</form>
	{% endblock %}