<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title '' %} - My Silex Application</title>
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
            <link rel="stylesheet" href="css/styleNavbar.css">
            <link rel="stylesheet" href="css/styleFooter.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.min.css" media="screen">
            <link rel="stylesheet" href="css/styleLayout.css">
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/styleFormulaireInscription.css">
            <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);
            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            </script>
        </head>
        <body>
            {% include "navbar.html.twig" %}
            <div id="mainDiv" class="container-fluid m-0 p-0">  
                <div class="row m-0 p-0"> 
                    <div class="col-md-12 p-0">   
                        {% block content %}{% endblock %}
                        {% block Header %}{% endblock %}
                        {% block Carrousel %}{% endblock %}
                        {% block contact %}{% endblock %}
                        {% block inscrip %}{% endblock %}
                        {% block produits %}{% endblock %}
                        {% block menus %}{% endblock %}
                        {% block sandwichs %}{% endblock %}
                        {% block boissons %}{% endblock %}
                        {% block pFaims %}{% endblock %}
                        {% block client %}{% endblock %}
                        {% block panier %}{% endblock %}
                        {% block backOffice %}{% endblock %}
                    </div>
                     {% include "footer.html.twig" %}
                </div>
            </div>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js" crossorigin="anonymous" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/1fc4da24df.js"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkeHVc5oyBqsO1mjf7xwA4vrdVS12O6oI&libraries=places&callback=init">
        </script>
        <script src="js/distanceMatrix.js"></script>
        <script src="js/validationFormulaire.js"></script>
        <script src="js/index.js"></script>
        <script src="js/ajoutPanier.js"></script>
    </body>
</html> 
