{% extends 'inscription.html.twig' %}

{% block errorOrderForLogin %}
		<div class="divRegisterInfo d-flex align-items-center justify-content-center">
			<div>
	   			<p>Veuillez s'il vous plaît vous inscrire afin de passer commande.</p>
	   			<p>Ne vous inquiétez pas, nous gardons votre panier au chaud !</p>
			</div>
		</div>
{% endblock %}