<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <ul class="list-unstyled components active">         
            <li id="bgaccueil">
                <a id="claccueil" href="" data-toggle="collapse" aria-expanded="false" class="collapsed">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Accueil
                </a>
            </li>
            <li>
                <li id="bgproduits">
                    <a id="clproduits" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="collapsed">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        Nos produits
                    </a>
                </li>

                <ul class="list-unstyled collapse" id="pageSubmenu" aria-expanded="false" style="height: 0px;">
                    <li id="bgmenus"><a id="clmenus" href="#">
                        <i class="fa fa-list" aria-hidden="true"></i>
                    Nos Menus</a>
                    </li>
                    <li id="bgsandwichs"><a id="clsandwichs" href="#">
                        <i class="fa fa-ils" aria-hidden="true"></i>
                    Sandwichs</a>
                    </li>
                    <li id="bgboissons"><a id="clboissons" href="#">
                        <i class="fa fa-glass" aria-hidden="true"></i>
                    Boissons</a>
                    </li>
                    <li id="bgfaim"><a id="clfaim" href="#" aria-hidden="true"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    Petites faims</a>
                    </li>
                </ul>
            </li>
            <li id="bgcontact">
            <a id="clcontact" href="/contact">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                Contact
            </a>
            </li>
            <li id="bgclient">
            <a id="clclient" href="#">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                Espace client
            </a>
            </li>
        </ul>
    </nav>
</div>