<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" class="active">
        <ul class="list-unstyled components active">         
            <li id="bgaccueil">
                <a id="claccueil" href="/" aria-expanded="false" class="collapsed">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Accueil
                </a>
            </li>
            <li>
                <li id="bgproduits">
                    <a id="clproduits" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="collapsed">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                        Nos produits
                    </a>
                </li>

                <ul class="list-unstyled collapse" id="pageSubmenu" aria-expanded="false" style="height: 0px;">
                    <li id="bgmenus"><a id="clmenus" href="/nosMenus">
                        {% include 'fastfood.html.twig' %} <br>
                    Nos Menus</a>
                    </li>
                    <li id="bgsandwichs"><a id="clsandwichs" href="/sandwichs">
                        {% include 'hamburger.html.twig' %} <br>
                    Sandwichs</a>
                    </li>
                    <li id="bgboissons"><a id="clboissons" href="/boissons">
                        {% include 'soda.html.twig' %} <br>
                    Boissons</a>
                    </li>
                    <li id="bgfaim"><a id="clfaim" href="/petitesFaims">
                        {% include 'frenchfries.html.twig' %} <br>
                    Petites faims</a>
                    </li>
                </ul>
            </li>
            <li id="bgcontact">
                <a id="clcontact" href="/contact">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    Contact
                </a>
            </li>
            <li id="bgclient">
                <a id="clclient" href="/client">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    Espace client
                </a>
            </li>
            <li id="bgpanier">
                <a id="clpanier" href="/ajoutPanier">
                    {% include 'shoppingBasket.html.twig' %}<span class="" id="tst"></span> <br>
                    Panier
                </a>
            </li>
        </ul>
    </nav>
</div>