{% extends "layout.html.twig" %}
{% block panier %}
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Image</th>
					<th scope="col">Produit</th>
					<th scope="col">Description</th>
					<th scope="col">€</th>
					<th scope="col">quantité</th>
				</tr>
			</thead>
			<tbody>
				<tr id="addProd">
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}