{% extends "layout.html.twig" %}
{% block pFaims %}
	{% if suppls != null %}
		{% for suppl in suppls %}
			<img src="{{suppl.imagePath}}">
			<h3>{{suppl.name}}</h3>
			<p>{{suppl.description}}</p>
		{% endfor %}
	{% endif %}
{% endblock %}
